<<<<<<< HEAD
:root{
    --color-base: #f5f3ed;
    --color-primary:#ede9e0;
    --color-secondary:#c06223;
    --color-matcha: #44514b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    --side-width: 80px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--color-base);
    color: var(--color-matcha);
    font-size: 1.4rem;
}

/* Common */
.link {
    color: inherit;
    transition: 300ms;
}

.btn {
    padding: 1.6rem 2.6rem;
    border: 0;
    border-radius: 100vw;
    outline: 0;
    background-color: var(--color-secondary);
    color: var(--color-base);
    font-weight: bold;
    cursor: pointer;
    /* 滑鼠游標變手指頭 */
}

.link:hover {
    color: var(--color-secondary);
}

.title {
    line-height: 1.75;
    font-size: 2.8rem;
}

/* side-menu */
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--color-base);
    width: 50px;
    height: 100%;
    z-index: 100;
}

/* Corner-Visual */
.visual-title-block{
    position: absolute;
    top: 0;
    right: 0;   
}

.corner-visual {
    width: 45rem;
    height: 60vh;
    margin-bottom: 8rem;
    border-bottom-left-radius: 8rem;
    /* background-color: var(--color-matcha); */
    background: url(./0427_images/header-img.jpg) center no-repeat;
    background-size: cover;
}

/* Header */
.main-header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 9rem;
    padding-left: 4rem;
    padding-right: var(--side-width);
    background-color: var(--color-base);
    z-index: 100;
}

.header-logo {
    width: 14.2rem;
    margin-right: 4rem;
}

.header-logo img {
    width: 100%;
}

.main-nav ul {
    display: flex;
    gap: 1.8rem;
    list-style: none;
}

.main-header .btn {
    margin-left: auto;
}

.main-nav a {
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

/* Main */

/* Footer */
.main-footer {
    margin-top: auto;
    padding: 6rem 0 var(--side-width) 3rem;
    background-color: var(--color-matcha);
}
=======
:root {
  --bg-color: #f5f3ed;
  --color-dark-yellow: #ede9e0;
  --color-dark-green: #44514b;
  --color-brown: #c06223;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--color-dark-green);
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-family: sans-serif;
}

h1 h2 {
  line-height: 1.5;
  font-weight: 700;
  font-size: 3.2rem;
}

p {
  line-height: 2;
  font-weight: 550;
  text-align: justify;
  /* 旁邊切齊 */
}

/* common */
.max-w-1680 {
  max-width: 1680px;
  margin: auto;
}

.border-radius-60 {
  border-radius: 60px;
}

.border-radius-15 {
  border-radius: 15px;
}

.btn-brown {
  display: block;
  width: 225px;
  padding: 1.8rem 3rem;
  text-decoration: none;
  text-align: center;
  border-radius: 100px;
  color: #fff;
  background-color: var(--color-brown);
}

.btn-brown:hover {
  background-color: #ef7626;
  transition: 0.2s ease-in-out;
}

.a-style {
  text-decoration: none;
  color: var(--color-dark-green);
}

.a-style:hover {
  color: var(--color-brown);
}

/* header */

.main-header {
  display: flex;
  height: 150px;
  align-items: center;
  padding: 0 0 0 8rem;
  background-color: var(--bg-color);
}

.main-header > .logo > img {
  width: 142px;
  height: 30px;
}

.main-header > .main-navi {
  display: flex;
  justify-content: space-between;
  z-index: 8888;
}

.main-header > .main-navi > ul {
  display: flex;
  list-style: none;
  padding-top: 0.2rem;
  align-items: center;
}

.main-header > .main-navi > ul > li {
  margin-left: 3rem;
}

.main-header a {
  font-size: 1.6rem;
  font-weight: 700;
}

/* .navi-button {
   margin-right: auto;
} */

.navi-button > li > a {
  display: block;
  text-decoration: none;
  padding: 2rem 3.8rem;
  border-radius: 100px;
  color: #fff;
  background-color: var(--color-brown);
}

.main-header > .navi-sub {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 100%;
  background-color: var(--bg-color);
  z-index: 9999;
}

.main-header > .navi-sub > ul {
  display: flex;
  list-style: none;
  writing-mode: vertical-rl;
}

.main-header > .navi-sub > ul > li {
  padding-top: 2.4rem;
  line-height: 10rem;
}

.main-header > .navi-sub > ul > li > a {
  font-size: 1.4rem;
}

/* ////////// */
/* main */
/* main-top */
.top-area {
  width: 30%;
  height: 1000px;
  position: absolute;
  top: 0;
  right: 0;
  overflow: hidden;
}

.header-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 0 0 0 10%;
  /* 左上 右上 右下 左下 (上右下左) */
  margin-bottom: 10rem;
}

.section-1 > .top-area > h1 {
  line-height: 1.75;
}

.section-2 {
  width: 65%;
}

.main-area {
  /* width: 1200px; */
  /* max-height: 800px; */
  height: 100%;
  overflow: hidden;
  border-radius: 0 10% 10% 0;
  /* 左上 右上 右下 左下 (上右下左) */
  position: relative;
}

.main-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-2 > .main-area > a {
  text-decoration: none;
  font-weight: 700;
  border-bottom: 2px solid rgb(38, 36, 36);
  position: absolute;
  top: 75%;
  left: 5%;
  color: rgb(38, 36, 36);
}

/* main-infomation */
.main-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10rem 20rem;
}

.main-info > ul > li {
  display: flex;
  align-items: center;
}

.main-info > ul > li > .date {
  font-weight: 600;
  margin-right: 3rem;
}

.main-info > a {
  font-weight: 600;
  margin-right: 15rem;
}

/* main-introduction */
.introduction {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 15rem 11.4rem;
}

.introduction > .intro-left {
  width: 46.6%;
  margin-right: 10rem;
}

.introduction > .intro-left > h2 {
  margin-bottom: 5rem;
  font-size: 3.2rem;
}

.introduction > .intro-right {
  width: 58.3%;
}

.introduction > .intro-right > .intro-pic {
  overflow: hidden;
}

.main-intro {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.introduction::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 73%;
  height: 100%;
  border-radius: 100px 0 0 0;
  background-color: var(--color-dark-yellow);
  z-index: -1;
}

/* main-specialty */
.specialty {
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  padding: 0 11.4rem;
}

.specialty::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 73%;
  height: 100%;
  border-radius: 0 0 0 100px;
  background-color: var(--color-dark-yellow);
  z-index: -1;
}

.spec {
  width: 33%;
  position: relative;
  padding: 3rem;
  margin-bottom: 3rem;
}

.specialty .spec .ring::before {
  content: "01";
  position: absolute;
  top: -2.3rem;
  left: -1.8rem;
  width: 8rem;
  height: 8rem;
  border: 1px solid var(--color-dark-green);
  border-radius: 50%;
  padding: 3rem;
  z-index: 1;
}

/* !!!!!!!!這裡有問題!!!!!!!! */
.specialty > :nth-child(3) .ring::before {
  content: "03";
}

.specialty > :nth-child(2) .ring::before {
  content: "02";
}

.spec .spec-pic {
  overflow: hidden;
  margin-bottom: 4rem;
}

.spec .spec-pic .main-spec {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.spec-content > h3 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
}

.specialty > a {
  margin: auto;
  margin-bottom: 15rem;
}
>>>>>>> fe769ae62dea7c23f8418fd7100e0c6765ee47c5
