@import url(./utils.css);

:root{
    --bg-color: #F8F6F2;
    --color-primary:rgb(0, 0, 0);
    --color-secondary:rgba(0, 0, 0, 0.5);
    --layout-padding: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.6rem; 
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--bg-color);
    font-family: sans-serif;
}

a{
    color: var(--color-primary);
}

/*unused*/



h1{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 3.3rem;
}

.h2{
    font-size: 2.6rem;
    letter-spacing: 1px;
    line-height: 40px;
}


/* ///// */
/* common style */
.container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 4rem;
}

.title-p {
    font-size: 1.6rem;
   
}

.btn-normal {
    display: inline-flex;
    gap: 1rem;
    /* align-items: center; */
    border: 1px solid var(--color-primary);
    border-radius: 9999px; 
    padding: 1.2rem 3rem;
    cursor: pointer;
}

.text-light {
    color: var(--color-secondary);
    opacity: 0.5;
}

.menu-list > * {
    transition: 0.4s;
}

.menu-list > *:hover{
    opacity: 0.5;
}





/* ///// */
/* /////header */

.main-header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    /* z-index: 9999; */
    padding: 4rem var(--layout-padding) 0;
}

.main-nav > ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1.5rem;
}

.main-nav > ul > li {
    margin-right: 1.5rem;
}

/* .main-nav > ul >li :not(:last-child){
    margin-right: 5rem;
} */

.sub-nav{
    height: 100%;
    height: vh100;
    padding: 4rem 4rem 3.5rem 4.8rem;
    border-left: 1px solid rgb(0, 0, 0, 0.1);
    background-color: var(--bg-color);
    position: relative;
    top: 0;
    right: 0;
    position: fixed;
    /* display: none; */
    /* display: flex;
    flex-direction: column; */
}

.sub-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15rem;
    gap: 2rem;
}

.sub-top > .sub-personality > a{
    margin-right: 3rem;
}

.sub-top > .btn-close {
    display: inline-flex;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 9999px;
    padding: 1.2rem 3rem;
    cursor: pointer;
}

.sub-top > .btn-close:hover{
    opacity: 0.5;
    transition: 0.3s;
}

.sub-info, .sub-social {
    list-style: none;
}

.sub-info > .sub-list1 a, .sub-list2 a{
    text-decoration: none;
}

.sub-middle {
    padding: 0 20rem 0rem 0;
    margin-bottom: 5rem;
}

.sub-list1 {
    margin-bottom: 1.5rem;
}

.sub-middle > .sub-info > .sub-list1 > a{
    font-size: 2.6rem;
    letter-spacing: 0.52px;
    line-height: 1;
}

.sub-end {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sub-social {
    margin-bottom: 17rem;
}

.sub-list2 {
    margin-bottom: 1.2rem;
}

.sub-bottom {
    margin-bottom: 1.5rem;
}

.sub-bottom > .sub-social > .sub-list2 > a{
    font-size: 1.5rem;
    letter-spacing: -0.6px;
    line-height: 1;
    color: var(--color-secondary);
}

.sub-end > .sub-media > a {
    margin-right: 1.2rem;
}

.sub-end > p {
    font-size: 1.1rem;
    line-height: 1;
}

/* /////main */

.container >.side-bar > ul {
    list-style: none;
}

.container >.side-bar > ul > li {
    margin-bottom: 1.5rem;
}

.container > .side-bar > ul > li > a:hover{
    color: var(--color-secondary);
    opacity: 0.5;
}

/* /////footer */

.main-footer {
    margin-top: auto;
}

.top-footer,.bottom-footer{
    padding: 0 var(--layout-padding);
}

.main-footer > hr {
    margin: 2rem 0;
}

.main-footer > :last-child {
    padding-bottom: 3rem;
}

.logo{
    display: block;
    margin-bottom: 2rem;
}
.main-footer .contact{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.main-footer .info {
    font-size: 1.4rem;
}

.main-footer .media > ul{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.footer-link {
    display: flex;
    justify-content: space-between;
}

.footer-link {
    display: flex;
    list-style: none;
}

.footer-link >li {
    margin-right: 2rem;
}

.footer-link a {
    font-size: 1.3rem;
    text-decoration: none;
}

