@import url(./layout/header.css);
@import url(./layout/side-nav.css);
@import url(./layout/footer.css);
@import url(./utils.css);

:root{
    --bg-color: #F8F6F2;
    --color-primary:rgb(0, 0, 0);
    --color-secondary:rgba(0, 0, 0, 0.5);
    --layout-padding: 4rem;
}

*,
*::before,
*::after {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 1.7rem; 
    font-weight: 700;
    color: var(--color-primary);
    background-color: var(--bg-color);
    font-family: sans-serif;
}

a{
    color: var(--color-primary);
}


/* ///// */
/* common style */

.container {
    width: 100%;
    max-width: 1440px;
    margin-inline: auto;
    padding: 4rem;
}

.show-only-pc {
    display: none;
}

.show-only-md {
    display: none;
}

.text-lg {
    font-size: 1.8rem;
    letter-spacing: 0.36px;
    line-height: 22px;
}

.text-list-lg {
    font-size: 1.6rem;
}

.btn {
    display: inline-flex;
    gap: 1rem;
    /* align-items: center; */
    border: 1px solid var(--color-primary);
    border-radius: 9999px; 
    padding: 1.2rem 3rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn.btn-black {
    background-color: var(--color-primary);
    color: #fff;
}

.btn.btn-black:hover{
    opacity: 0.5;
}

.text-light {
    color: var(--color-secondary);
    opacity: 0.5;
}

.menu-list > * {
    transition: 0.4s;
}

.menu-list > *:hover{
    opacity: 0.5;
}

/* /////main */
.side-bar h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.5rem;
}

.side-bar > .lead > p {
    display: none;
}

.side-bar > .lead-list {
    list-style: none;
}

.side-bar a {
    text-decoration: none;
}

.side-bar a:hover{
    color: var(--color-secondary);
    opacity: 0.5;
}


/* RWD */
/* notepad */
@media screen and (max-width: 834px) {
    :root{
        --layout-padding: 2rem;
    }

    body{
        font-size: 1.6rem;
    }

    /* common style */
    .show-only-pc {
    display: none;
    }

    .btn {
        padding: 0.8rem 1.5rem;
        font-size: 1.3rem;
    }

    .text-md {
        font-size: 1.4rem;
        letter-spacing: 0;
        line-height: 1.4rem;
    }

    .text-list-md {
        font-size: 1.3rem;
    }
    

    /* main */
    .container > .side-bar h1 {
        font-size: 2.4rem;
        letter-spacing: 0.7px;
        line-height: 3.8rem;
        margin-bottom: 0;
    }

    .side-bar > .lead {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .side-bar > .lead > p {
        display: block;
    }

    .lead-list {
        /* display: none; */
        border: 1px solid rgb(0, 0, 0, 0.1);
        max-width: 10rem;
        padding: 1rem;
        margin-left: auto;
        /* gap: 1rem; */
    }

    .lead-list a {
        font-size: 1.2rem;
        /* gap: 1rem; */
    }

}

    

