*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bgc-gray{
    background-color: #ebeae9;
}
.font-11{
    font-size: 11px;
    color: #444;
}
.font-12{
    font-size: 12px;
    border: 1px solid #999;
    padding: 10px;
}

.font-12:hover{
    background-color: #444;
    transition: 0.45s;
}

.font-13{
    font-size: 13px;
}

.font-16{
    font-size: 16px;
    color: rgb(75, 75, 75);
}

.p-style1{
    margin: 20px 0px;
}
.h1-style1{
    font-size: 25px;
    margin-bottom: 60px;
}

.p-style2{
    font-size: 15px;
    margin-bottom: 10px;
}

.p-style3{
    font-size: 15px;
    margin-bottom: 50px;
    line-height: 2;
}


.h1-style2{
    font-size: 22px;
    margin-bottom: 30px;
}




.main-header{
    position: sticky;
    top: 0;
    z-index: 2;
}
.title{
    padding: 15px 25px;
}

.header-item::after{
    content: '▽';
    margin-right: 30px;
}




.main-navigation{
    padding: 40px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.main-navigation > ul {
    list-style: none;
    
}

.logo-pic{
    font-size: 24px;
    text-decoration: none;
    color: #444;
}

.main-navigation > ul > li {
    margin-right: 35px;
}


.main-navigation > ul > li > a {
    text-decoration: none;
    color: #444;
}

.main-navigation > ul > li > a:hover{
    color: #ebeae9;
} 




main{
    padding: 60px;
}
.pic1{
    text-align: center;
    position: relative;
}
.main-top{
    color: rgb(255, 255, 255);
   
}
.absolute1{
    position: absolute;
    top: 400px;
    left: 120px;
}

.white{
    text-decoration: none;
    color: aliceblue;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 40px;
}

.white:hover{
    background-color: #FFF;
    transition: 0.45s;
    color: #444;
}

.main-second{
    margin: 150px 0px;
    color: #444;
    
}

.gray{
    text-decoration: none;
    color: #444;
    border: 1px solid #888;
    padding: 15px 40px;
}

.gray:hover{
    background-color: #444;
    transition: 0.45s;
    color: #ebeae9;
}

.word-content1{
    padding: 0px 80px 0px 0px;
}

.word-content2{
    padding: 0px 150px 0px 0px;
}

.main-third{
    color: rgb(255, 255, 255);
    margin-bottom: 150px;

}

.pic2{
    position: relative;
}
.absolute2{
    position: absolute;
    top: 150px;
    left: 60px;
}

.main-buttom{
    color: #444;
    display: flex;
    align-items: flex-start;
}


.news{
    margin-left: 300px;
}

.news p {
    margin: 40px 0px 10px 0px;
    font-size: 14px;
}

.news p:nth-child(1){
    margin: 0px;
}

.news h2 {
    font-size: 14px;
    line-height: 2;
    margin: 0px 0px 40px 0px ;

}
.news h2 a{
    color: #444;
}
.hr-solid{
    border: 0;
    border-top: 1px solid rgb(213, 209, 209);
    margin: 0px 0px;
}



.main-footer{
    display: flex;
    background-color: rgb(223, 221, 221);
    padding: 10px 100px 0px;
}

.footerLogoArea{
    margin: 70px 50px 0px 0px;
}

.footerLogoArea > p {
    padding:150px 0px 70px 0px;
    color: #888;
}

.footerLinkArea{
    padding: 70px 0px 0px 0px;
}

.footerLinkList{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 30px;
}
.linklist{
    margin-bottom: 30px;
}

.footerLinkList a {
    text-decoration: none;
    color: #444;
    font-size: 12px;
}

.footer-hr{
    margin-bottom: 30px;
}

.footerAddress{
    font-size: 13px;
    color: #444;
    line-height: 2;
}





